_schema-version: "3.2"
ID: jam-odata-mcp-bridge-credentials
extends: jam-odata-mcp-bridge

modules:
  - name: jam-odata-mcp-bridge
    properties:
      ODATA_USERNAME: "nagarajv"
      ODATA_PASSWORD: "Thengadeep@17"
